---
import Base from "@layouts/Base.astro";
import Blogs from "@components/Blogs.astro";

import Banner from "@layouts/components/Banner.astro";
import KeyFeatures from "@layouts/components/KeyFeatures.astro";
import Testimonial from "@layouts/components/Testimonial.astro";
import Service from "@layouts/components/Service.astro";
import Cta from "@layouts/partials/Cta.astro";
import { getEntryBySlug } from "astro:content";
import config from "@config/config.json";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import { AiOutlineArrowRight } from "react-icons/ai";
import ProjectExcept from "@layouts/function-components/ProjectExcept";


const homepage = await getEntryBySlug("homepage", "index");
const { banner, key_features, service, testimonial } = homepage.data;
const { blog_folder } = config.settings;
const posts = await getSinglePage(blog_folder);
const sortedPosts = sortByDate(posts);
const currentPosts = sortedPosts.slice(0, 3);
const categories = await getTaxonomy("projects", "categories");
const projects = await getSinglePage("projects");
---

<Base>
  <section class="section">
    <div class="container">
      <Blogs posts={currentPosts} />
      <div class="flex justify-end">

        <a
        class="text-primary inline-flex items-center font-semibold"
        href={`/blog`}
        >
        Read More
        <AiOutlineArrowRight className="ml-1.5 text-xl font-bold" />
      </a>
    </div>
    </div>
  </section>
  <ProjectExcept
  client:load
  projects={projects}
  categories={categories}
/>
  <!-- banner -->
  <!-- <Banner banner={banner} /> -->
  <!-- key features -->
  <!-- <KeyFeatures key_features={key_features} /> -->
  <!-- service -->
  <!-- <Service service={service} /> -->
  <!-- testimonial -->
  <!-- <Testimonial testimonial={testimonial} /> -->
  <!-- call to action -->
  <!-- <Cta /> -->
</Base>
